# Seguridad
.env
.env.local
.env.development
.env.test
.env.production
*.env

# Dependencias
node_modules/
.pnp
.pnp.js

# Expo / Build
.expo/
dist/
web-build/

# Logs y Errores
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Archivos del SO
.DS_Store
Thumbs.db
.idea/
.vscode/
*.swp
*.swo

# Builds
android/app/build/
ios/build/

# Claves de firma
*.keystore
*.jks
